<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
</head>
<body>

<header>
    <h3>Welcome, 
    	<span th:text="${identity.name}">--name--</span>
    </h3>

    <p><a th:href="@{/logout}" id="logout">Logout</a></p>
    <p></p>

    <p><a id="protected-resource" th:href="@{/protected}">Any authenticated user with a role "user" can access this resource</a></p>
    <p><a id="premium-resource" th:href="@{/protected/premium}">Only users with a role "user-premium" can access this resource</a></p>
     
    <table>
    	<thead>
        <tr>
            <th> You have permissions to access the following resources: </th>
        </tr>
    	</thead>
    	<tbody>
        <tr th:each="permission : ${identity.permissions}">
            <td><span th:text="${permission.resourceName}"> ResourceName </span></td>
        </tr>
    	</tbody>
	</table>

     
</header>


</body>
</html>